{% extends 'index.html' %}
{% load static %}
{% block content %}
 <div class="container" >
      <h1 class="text-center alert alert-warning">About Us</h1>
      <p>We are a team of web developers of IT final year who believes in delivering quality product in the enhancement of services in Our college.<br>
      We figured out the issues which we had faced in the past four years during our studies and we framed solutions for all kind of issues in this web application.<br>
      It is a effort from our team to make services easy to do and  less time consuming to make our recians comfortable.
      </p>
    </div>
    <hr>
    <div class="container">
      <h1 class="text-center alert alert-warning">Our Mission</h1>
      <p>It&#39;s pretty clear that we are real problem solver because we have made a solution of ground level problem and we are unstoppable.
      We planned to add more useful feature to our web application for enrichment of students and whole campus.<br>
      After deploying this project we will work on data analysis of college&#39;s services like mess food,hostel sanitation ,hostel maintenance and many more other services.<br>
      By using data analysis, we will be able to track problems more efficiently<br>
      for example:- we can analyse that which kind of food students are liking most based on their per day ratting score.<br>
      We will be able to analyse per year cost of maintenance in different sections like electrical devices, furniture , computer components.</p>
    </div>
  <hr>

    <h1 class="text-center alert alert-warning">Our Team</h1><br>

    <div class="container">
      <div class="row">
        <div class="col-md-3" >
          <div>
          <img src="{% static 'C:\Users\chandresh\djangopro\rms3\static\images\dd.jpg' %} " style="width:100%">
          </div>
          <div>
            <h5>Mohitendra Damailiya</h5>
            <p>Front-end Developer</p>
            <p>IT Final Year</p>
            <p>Batch : 2016 - 2020</p>
            <p><a href="mailto:mohitendra.mpsd@gmail.com" target="_blank">mohitendra.mpsd@gmail.com</a></p>
            <p>Contact - 7897534153</p>
          </div>
        </div>
        <div class="col-md-3">
          <div>
          <img src="{% static 'C:\Users\chandresh\djangopro\rms3\static\images\c.jpg' %} " style="width:100%">
          </div>
          <div>
            <h5>Chandresh Chahar</h5>
            <p>Full-Stack Developer</p>
            <p>IT Final Year</p>
            <p>Batch : 2016 - 2020</p>
            <p><a href="chandresh9410@gmail.com" target="_blank">chandresh9410@gmail.com</a></p>
            <p>Contact - 9410844270</p>
          </div>
        </div>
        <div class="col-md-3" >
          <div>
          <img src="{% static 'C:\Users\chandresh\djangopro\rms3\static\images\k1.jpg' %}" style="width:100%" >
          </div>
          <div>
            <h5>Kuldeep Maurya</h5>
            <p>Back-end Developer</p>
            <p>IT Final Year</p>
            <p>Batch : 2016 - 2020</p>
            <p><a href="mailto:kuldeepmaurya88@gmail.com" target="_blank">kuldeepmaurya88@gmail.com</a></p>
            <p>Contact - 9198731034</p>
          </div>
        </div>
        <div class="col-md-3">
          <div>
          <img src="{% static 'C:\Users\chandresh\djangopro\rms3\static\images\m.jpg' %}" style="width:100%">
          </div>
          <div>
            <h5>Mukul Maurya</h5>
            <p>Content Writer</p>
            <p>IT Final Year</p>
            <p>Batch : 2016 - 2020</p>
            <p><a href="mailto:mukulmaurya2790@gmail.com" target="_blank">mukulmaurya2790@gmail.com</a></p>
            <p>Contact - 9532376702</p>
          </div>
        </div>

      </div>
  </div>
{% endblock content %}
