{% extends 'index.html' %}
{% load static %}
{% block content %}
 <div class="container" >
      <h1 class="text-center alert alert-info">About Us</h1>
      <p>This web application is developed by Chandresh chahar IT final year student of 2020 batch of Rajkiya engineering
          college banda.<br>
      I figured out the issues which I had faced in the past four years during studies and I framed solutions for all kind of issues in this web application.<br>
          This is a effort for making college system more efficient and comfortable for students as well as administration.
      </p>
 </div>
    <hr>
<div class="container">
      <h1 class="text-center alert alert-info">Our Mission</h1>
      <p>This web application is divided into 4 modules and you can read about every module at home page.</p>
    <p>But wait this is just a begining of digitalization of our college campus.</p>
    <p>There are lot of things which will be added in this web application in the future</p>
    <p><b>We only need support of our juniors to provide accurate data for enhancing facilities in campus</b></p>
</div>
<div class="container">
      <h1 class="text-center alert alert-info">Upcoming Features</h1>
      <ul>
          <li><b><i>Data Visualization</i></b></li>
          <p>You will be able to see the result of mess ratings in visual form</p>
          <li><b><i>Contests</i></b></li>
          <p>Administration will be able to post contests in contests sections for getting the student participations
          in the events like Cultural,Technical, and literary and fine art events etc.</p>

      </ul>
</div>
  <hr>

    <h1 class="text-center alert alert-info">Developer Profile</h1><br>

<div class="container">
    <div class="row">
        <div class="col-sm-4" >
          <img src="{% static 'C:\Users\chandresh\djangopro\rms3\static\images\c.jpg' %} " style="width:100%">
            <hr/>
        </div>

        <div class="card border-primary mb-3" style="max-width: 22rem;">
             <h4 class="card-header text-white bg-info">Chandresh Chahar</h4>
                 <div class="card-body text-dark">
                      <h5 class="card-title">B.Tech<i>(Information Technology)</i></h5>
                      <p class="card-text"><i>Government Engineering college Banda</i></p>
                      <h5 class="card-title">Technologies used</i></h5>
                      <div class="card-text">
                      <ul>
                          <li>Python</li>
                          <li>Django</li>
                          <li>Mysql</li>
                          <li>Bootstrap</li>
                          <li>Html,Css,Javascript</li>
                      </ul>
                      </div>


              </div>
         </div>

        <div class="col-sm-4">
            <div class="card border-primary mb-3" style="max-width: 22rem;">
             <h4 class="card-header text-white text-center bg-danger">Connect here</h4>
                 <div class="card-body text-white">
                      <a href="https://www.linkedin.com/in/chandresh-chahar-4b3509191/s:" target="_blank" class="btn btn-outline-info btn-lg btn-block">LinkedIn</a>
              <a href="#" target="_blank" class="btn btn-outline-danger btn-lg btn-block">Chandresh9410@gmail.com</a>

              <a href="https://www.facebook.com/chandresh.chahar.37/" target="_blank" class="btn btn-outline-primary btn-lg btn-block">Facebook</a>
                     <a href="https://github.com/chandreshmark41" target="_blank" class="btn btn-outline-dark btn-lg btn-block">Github</a>
              <a href="https://www.instagram.com/chandreshchahar/" target="_blank" class="btn btn-outline-danger btn-lg btn-block">Instagram</a>


              </div>
         </div>



        </div>
    </div>


</div>



{% endblock content %}