{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Rec maintenance system</title>
    <!--<style>
    body {background-color: paleturquoise;}
     </style>-->
    <style>




</style>
</head>
<body>
<div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
    <a class="navbar-brand" href="#">REC BANDA MAINTENANCE SYSTEM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'about page' %}">About Us<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Services
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'hostel maintenance' %}">Hostel Maintenance</a>
                    <a class="dropdown-item" href="{% url 'lab maintenance' %}">Lab Maintenance </a>

                    <a class="dropdown-item" href="{% url 'messfeedback' %}">Mess Feedback </a>
                    <a class="dropdown-item" href="{% url 'studentoutpass' %}">Student Outpass </a>

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="https://www.recbanda.ac.in">Official Rec Website</a>
                </div>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item active">
                <a class="nav-link" >{{user.first_name}}<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'logout page' %}">Logout<span class="sr-only">(current)</span></a>
            </li>
            {% else %}


            <li class="nav-item active">
                <a class="nav-link" href="{% url 'register page' %}">Register<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'login1 page' %}">Login<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="admin">Administration<span class="sr-only">(current)</span></a>
            </li>
            {% endif %}
        </div>



</nav>
</div>
<br/>
<br/>
<div class="container">
    {% block content %}
    {% if user.is_authenticated %}
    <h3 class="text-center">Welcome, {{user.first_name}}</h3>
    <hr>
<img src="{% static 'C:\Users\chandresh\djangopro\rms3\static\images\svf.png'  %}" alt="visualization of application"
height="600" width="1050">
    {% else %}
    <img src="{% static 'C:\Users\chandresh\djangopro\rms3\static\images\svf.png'  %}" alt="visualization of application"
height="600" width="1050">
    {% endif %}

    {% endblock content %}
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>
</html>