
{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="container">
<h1 class="text-center alert alert-info">Student Registration</h1>
      <hr>

<h4 class="text-center alert alert-warning">* Enter your institute Roll Number in place of UserId</h4>
      <br>


<form action="" method="post" class="text-center">
    {% csrf_token %}
    <table style="text-align:center">

        {{register}}
        <tr>
            <td><input type="submit" value="Register" align="right" class="btn btn-success"></td>
        </tr>
    </table>
</form>
<div>
    <h1 class="alert alert-success">
    {% for message in messages %}
    {{message}}
    {% endfor %}
    </h1>
</div>
</div>



{% endblock content %}